html,
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
}
main {
  margin-top: 70px;
}
h1 {
  display: none;
}
h2 {
  font-size: 50px;
  font-weight: 900;
}

span {
  cursor: pointer;
}

@keyframes color-animation {
  0% {
    color: #42f4a4;
  }
  25% {
    color: #41c1f4;
  }
  50% {
    color: #ff4271;
  }
  100% {
    color: #f2ca65;
  }
}
@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#getquote:hover {
  opacity: 0.5;
  animation: none;
  transition: all 0.25s;
}

/* intro */
.herologo {
  text-align: center;
  max-width: 95%;
  margin: 0 auto;
}
#biglogo {
  height: 200px;
}
.bracket1 {
  animation: slideInRight 1.5s;
  padding: 5px;
}
.bracket2 {
  animation: slideInLeft 1.5s;
}
.f {
  animation: opacity-animation 2s ease-in;
}

#intro,
#intro2 {
  /* display: hidden; */
  position: relative;
  font-size: 2em;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  text-align: center;
}

#intro2 p:first-child {
  position: relative;
  top: 25px;
  font-size: 1rem;
  font-weight: lighter;
}

#intro p:last-child {
  font-size: 1rem;
  position: relative;
  top: -25px;
  font-weight: lighter;
}

#welcome-section {
  margin: 150px auto 0px auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

/* intro end */

/* nav start */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  flex-direction: row;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: #0f0f0f;
  text-align: left;
}

#logo {
  background-color: black;
  padding: 15px;
}

#nav-items {
  padding: 0;
}

.nav-item {
  display: block;
  margin: 25px 10px;
  color: rgb(131, 128, 128);
  text-decoration: none;
  font-size: 25px;
}

.home:hover,
.active {
  color: #00d4ff;
  transition: color 0.7s ease;
}
.about:hover {
  color: #eeff00;
  transition: color 0.7s ease;
}
.portfolio:hover {
  color: #ff006a;
  transition: color 0.7s ease;
}
.contact {
  animation: color-animation 3s infinite linear alternate;
}

/* Navigation end */

/* about start */
#about,
#projects,
#contact {
  padding: 30px 0;
  margin: 150px auto;
  height: 100%;
  width: 100%;
}
.box {
  letter-spacing: 1px;
  margin: 105px auto;
  padding: 0 30px 30px 30px;
  width: 70%;
  font-size: 1em;
  flex-direction: column;
}

.inner-content {
  width: 100%;
  margin: 0 auto;
}
.lists {
  flex-direction: column;
  justify-content: space-evenly;
}

.rainbow {
  font-size: 17px;
  animation: color-animation 3s infinite linear alternate;
}
.rainbow:hover {
  opacity: 0.5;
  transition: all 0.25s;
}
/* about end */

/* portfolio start */
#projects {
  text-align: center;
  background-color: #191919;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90%;
  padding: 20px 0px;
  margin: 0 auto;
  justify-content: space-between;
}
.overlay-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 10px;
  color: white;
  font-style: italic;
  text-align: left;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}
.overlay-info a {
  color: white;
}
.project-tile {
  position: relative;
  padding: 0;
  width: 90%;
  margin: 10px auto;
  height: auto;
}

#open-gallery {
  background-color: rgba(0, 0, 0, 0.685);
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
}
.open-gallery-card {
  padding-bottom: 10px;
  width: 100%;
  margin: 150px auto;
}
.open-gallery-card img {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.open-gallery-info {
  display: block;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.795);
}
#item-name {
  display: block;
  margin: 0;
  padding: 10px;
}
#close-open-gallery {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 100px;
  right: 10px;
  cursor: pointer;
}
#close-open-gallery:hover {
  opacity: 0.5;
}
#gallery-link {
  display: hidden;
  color: white;
  padding: 10px;
  cursor: pointer;
}
#gallery-link:hover {
  opacity: 0.5;
}
#description {
  padding: 5px 10px 20px 10px;
  font-size: 14px;
}

.overlay {
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 0;
  transition: 0.4s ease;
  background-color: #2b2b2b;
  cursor: pointer;
}

.project-tile:hover .overlay {
  opacity: 0.9;
}
.text {
  font-size: 2em;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* portfolio end */

#me {
  width: 150px;
  border-radius: 50%;
}

/* DRY */

/* background colors */
body,
.box {
  background-color: #191919;
}

#about,
.gallery {
  background-color: #2b2b2b;
}

/* font colors */
.box,
#projects h2,
#getquote:hover,
#contact {
  color: #bababa;
}
#contact .box {
  background-color: #2b2b2b;
  word-wrap: break-word;
}
#intro,
#intro2 {
  color: #191919;
}

/* display values */

.lists,
.box,
#nav-items,
#navbar {
  display: flex;
}
#getquote,
#nav-items span {
  display: none;
}

.box,
#navbar,
.gallery {
  -webkit-box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.75);
}

/* DRY END */

@media only screen and (orientation: landscape) {
  .open-gallery-card {
    width: 300px;
    margin-top: 5px;
  }
  #close-open-gallery {
    top: 0;
  }
}
@media only screen and (min-width: 900px) {
  main {
    margin-top: 0;
    margin-left: 70px;
  }
  #navbar {
    flex-direction: column;
    width: 70px;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  #welcome-section {
    margin: 95px auto 120px auto;
  }

  .box {
    flex-direction: row;
    padding: 40px;
  }
  .inner-content {
    width: 40%;
  }
  .lists {
    flex-direction: row;
  }
  #logo {
    position: absolute;
    top: 0px;
    padding: 10px;
  }
  #nav-items {
    display: block;
  }

  #nav-items span {
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    position: relative;
    top: -27px;
    display: block;
  }

  #nav-items span:hover {
    opacity: 1;
    padding-left: 85px;
    transition: padding-left 0.2s linear;
  }

  .nav-item {
    font-size: 22px;
    margin: 10px auto;
  }
  .contact:hover {
    color: #ff9000;
    transition: color 0.7s ease;
  }
  .contact {
    animation: none;
  }
  #getquote {
    display: block;
    color: white;
    font-size: 50px;
    position: fixed;
    right: 25px;
    bottom: 1px;
    animation: color-animation 3s infinite linear alternate;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
  }
  /* #galleryCard {
    width: 50%;
  } */
  .open-gallery-card {
    width: 60%;
    margin-top: 60px;
  }
  #close-open-gallery {
    top: 0;
  }
  #biglogo {
    height: 447px;
  }
  .project-tile {
    position: relative;
    padding: 0px;
    width: 45%;
    margin: 10px auto;
    cursor: pointer;
    height: auto;
  }
  #me {
    width: 250px;
  }
}

footer {
  background-color: #bababa;
}
